@import 'reset.css';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

header {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
  position: relative;
}

.full-col {
  max-width: 1000px;
  margin: 0 auto;
}

.light-border-top {
  border-top: 1px solid rgba(0,0,0,.05)
}

#header-bar {
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  img {
    position: relative;
    top: -1px;
    margin-right: 10px;
    height: 28px;
  }
  h1 {
    font-size: 22px;
  }
}
#header-buttons {
  a {
    font-size: 14px;
  }
}

.flat-button {
  padding-right: 8px;
  padding-left: 8px;
  vertical-align: middle;
  line-height: 30px;
  height: 32px;
}

.replies-button {
  height: 37px;
  line-height: 35px;
  padding: 0;
  margin-right: 8px;
  color: rgba(0,0,0,.44);
}

.button {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
}

.green-link {
  color: #02ac6c;
  cursor: pointer;
  transition: .25s color;
  &:hover {
    color: #1c9963;
  }
}

.grey-link {
  color: rgba(0,0,0,.44);
  cursor: pointer;
  transition: .25s color;
  &:hover {
    color: rgba(0,0,0,.6);
  }
}

.grey-link {
  color: rgba(0,0,0,.44);
  cursor: pointer;
  transition: .25s color;
  &:hover {
    color: rgba(0,0,0,.6);
  }
}

.dark-grey-link {
  color: rgba(0,0,0,0.8);
  cursor: pointer;
  transition: .25s color;
  &:hover {
    color: rgba(0,0,0,0.9);
  }
}

.bigger-font {
  font-size: 15px;
}

#articles {
  max-width: 660px;
}

article p {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  margin-top: 10px;
  letter-spacing: 0.1px;
  color: rgba(0,0,0,0.8);
}

.card {
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px 20px 15px 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 660px;
}

.article-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 5px;
}

.article-title {
  margin-top: 0;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.5px;
  line-height: 1.04;
  font-weight: 700;
}

.article-teaser-image {
  margin-bottom: 30px;
  width: 620px;
  height: auto;
  max-height: 190px;
}

.article-subtitle {
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 23px;
  line-height: 1.22;
  letter-spacing: -0.5px;
  color: rgba(0,0,0,.44);
}
.raised-button {
  border-color: #02b875;
  background: #02b875;
  color: white;
  padding: 0 16px;
  font-size: 14px;
  line-height: 30px;
  height: 32px;
  border-radius: 999em;
  text-align: center;
  font-weight: 200;
  transition: .15s background-color,.15s border-color,.15s color,.15s fill;

  &:hover { background-color: #00ab6b; }
}

.hollow-button {
  background-color: transparent;
  display: inline-block;
  border-radius: 999em;
}

.green-hollow-button {
  background-color: transparent;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 999em;
  color: #02ac6c;
  border: 1px solid #02ac6c;
  transition: all .25s;
  font-size: 12px;
  height: 19px;
  padding: 0px 10px;
  padding-top: 1px;
  margin-top: -2px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
    color: #1c9963;
    border-color: #1c9963;
  }
}

.button-label {
  display: inline-block;
  margin-top: -2px;
}

nav {
  padding-top: 4px;
  li {
    display: inline-block;
    padding: 10px 20px 18px 0px;
    font-size: 14px;

    a {
      color: rgba(0,0,0,.44);

      &:hover, &:active { color: rgba(0,0,0,.6);}
    }
  }
}

.eggshell {
  background: #fafafa;
}

.darker{ color: rgba(0,0,0,.8);}
.darkest{ color: rgba(0,0,0,.9);}

#hero {
  height: 400px;
  background-image: url("./books.jpg");
  background-size: cover;
}

.hero-container {
  max-width: 1000px;
  height: 400px;
}

#hero-content {
  padding-top: 100px;
  width: 450px;
}

.hero-text {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.5px;
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 30px;
}

#foreground-container {
  padding: 30px 0 0 0;
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.big-avatar {
  width: 60px;
  height: 60px;
}

.avatar {
  border-radius: 100%;
  overflow: hidden;
}

.top-line-details {
  display: flex;
  margin-bottom: 10px;
}

.minor-details {
  display: inline-block;
  color: rgba(0,0,0,.44);
  padding-left: 10px;
  line-height: 1.4;
  font-size: 14px;
  vertical-align: middle;
}

.bigger-padding-left {
  padding-left: 15px;
}

.smaller-text {
  font-size: 14px;
}

.smallerest-text {
  font-size: 13px;
}

.smallest-text {
  font-size: 12px;
}

.details-line2 {
  margin-top: 2px;
}

.details-line3 {
  margin-top: 2px;
}

.post-article-read-more {
  font-size: 18px;
  line-height: 1.4;
}

.bottom-line-strip {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-sa-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.favorite-count {
  font-size: 14px;
  color: rgba(0,0,0,0.44);
  margin-left: 5px;
}

.md-icon-22 {
  font-size: 22px!important;
}

.md-green {

}

.md-grey {
  color: rgba(0,0,0,0.44);
}

.green-icon-button {
  i {
    color: #02b875;
    transition: .25s color;
  }
  &:hover i {
    color: #1c9963;
    cursor: pointer;
  }
}

.grey-icon-button {
  i {
    color: rgba(0,0,0,.44);
    transition: .25s color;
  }
  &:hover i {
    color: rgba(0,0,0,.6);
    cursor: pointer;
  }
}

#sidebar {
  width: 340px;
  position: absolute;
  top: 35px;
  right: 0;
  bottom: 0;
  padding: 0 0 60px 18px;
  box-sizing: border-box;
}

.sidebar-container-header {
  border-bottom: 1px solid rgba(0,0,0,.0785);
  margin: 0 30px 0 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sidebar-container-title {
  color: rgba(0,0,0,.44);
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
}

.sidebar-container-description {
  color: rgba(0,0,0,.8);
  padding-top: 2px;
  font-size: 14px;
  line-height: 1.4;
}

.sidebar-content-item {
  margin: 20px;
  display: flex;
}

.sidebar-avatar-wrapper {
  padding-right: 18px;
}

.sidebar-content-details {
  display: flex;
  flex-direction: column;
}

.sidebar-content-item-title {
  font-size: 14px;
  line-height: 1.2;
  color: rgba(0,0,0,.8);

  &:hover {
    color: rgba(0,0,0,.9);
    cursor: pointer;
  }
}

.smaller-avatar {
  width: 32px;
  height: 32px;
}

.borderless-sidebar-container {
  margin-bottom: 40px;
}

.sidebar-content-item-description {
  padding-top: 2px;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(0,0,0,.44);
  transition: .25s color;

  &:hover {
    color: rgba(0,0,0,.9);
    cursor: pointer;
    transition: .25s color;
  }
}

footer {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

footer:before {
  content: '';
  display: block;
  position: relative;
  width: 80px;
  height: 1px;
  background-color: rgba(0,0,0,.05);
}

.footer-links-list {
  padding-top: 10px;
  padding-bottom: 25px;
  display: flex;
}

.footer-links-list li {
  margin-right: 10px;
  a {
    font-size: 11px;
    color: rgba(0,0,0,0.44);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.absolutely {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 42;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

.overlay {
  opacity: 0;
  transition: opacity .25s ease-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,.6);
  display: flex;
  text-align: center;
  pointer-events: none;
  justify-content: center;
  align-items: center;
}

.visible {
  pointer-events: auto;
  opacity: 1;
  .overlay-dialog {
    transform: scale(1);
  	opacity: 1;
  }
}

.close-modal-button {
  position: absolute;
  z-index: 101;
  right: 25px;
  top: 25px;
}

.overlay-dialog {
  transform: scale(0.7);
  opacity: 0;
  width: 520px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.44);
  border-radius: 3px;
  background-color: white;
  transition: all .25s ease-out;

}

.overlay-dialog-animated {
  transform-origin: bottom center;
  animation: fade-in-pulse-08 .3s forwards cubic-bezier(.8,.02,.45,.91);
}

.overlay-title {
  box-sizing: border-box;
  max-width: 520px;
  width: 100%;
  padding: 24px;
  background-color: #f0f0f0;
  color: rgba(0,0,0,0.8);

  img {
    width: 65px;
  }
  h1 {
    font-size: 32px;
    line-height: 65px;
    height: 65px;
  }

}

.oauth-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 58px;
  border-radius: 2px;
  font-size: 16px;
  text-align: left;
  padding: 0 16px;
  padding-left: 18px;
  margin: 0 32px 10px 32px;
  max-width: 465px;
  box-sizing: border-box;
  line-height: 35px;
}

.small-label {
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.email-signin-button {
  height: 44px;
  display: inline-block;
  line-height: 42px;
  &:hover {
    text-decoration: underline;
  }
}

.twitter {
  background-color: #55acee;
  &:hover {
    background-color: #006daa;
  }
}
.facebook {
  background-color: #3b5998;
  &:hover {
    background-color: #1d315b;
  }
}

.google {
  border: 1px solid rgba(0,0,0,.15);
  color: rgba(0,0,0,.6);
  &:hover {
    background-color: rgba(0,0,0,.05);
  }
  .oauth-button-label { color: rgba(0,0,0,.6); }
}

.oauth-button-label {
  line-height: 16px;
  font-size: 16px;
  color: white;
}

.overlay-content {
  box-sizing: border-box;
  max-width: 520px;
  width: 100%;
  margin: 24px 0;
  padding: 0 32px;
  color: rgba(0,0,0,.6);
  font-size: 16px;
  text-align: left;
}

.overlay-button-set {
  margin-bottom: 24px;
}

.label-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white-icon {
  color: rgba(255, 255, 255, 1);
}

.no-border {
  border: none;
  box-shadow: none;
}

.cursive {
  font-family: 'Permanent Marker', cursive;
}

.more-space-right {
  margin-right: 20px!important;
}

.article-logo-divider {
  height: 28px;
  margin-right: 20px;
  width: 1px;
  background-color: rgba(0,0,0,.15);
}

.article-head {
  padding: 35px 0 10px 0;
  margin: 0 auto;
  max-width: 740px;
  background-color: white;
  display: flex;
  align-items: center;
}
.article-body {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 740px;
  background-color: white;

  .title {
    margin-top: 39px;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.8px;
    color: rgba(0,0,0,0.8);
  }

  p {
    font-size: 21px;
    color: rgba(0,0,0,0.7);
    line-height: 1.58;
    margin-top: 29px;
    text-rendering: optimizeLegibility;
    letter-spacing: -0.1px;
  }

  p:first-of-type {
    margin-top: 12px;
  }
}
